body {
        font-size: 36px;
        font-family: 'Quicksand', sans-serif;
        background-color: white;
      }
h1{
  font-size: 48px;
  color: red;
}

.header {
  background-color: #fffc99;
  text-align: center;
  padding: 20px;
}

#drform {
  /*font-family: 'Oswald', sans-serif;*/
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;

}

.signinform {
  text-align: center;
}

#mainform {
  text-align: center;
  background-color: #c9f2c7;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

/*.buttonsgroup{
  text-align: center;
  flex-direction: column;
  position: absolute;
}*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.button-con {
    display: block;
    margin: 0 auto;
    width: 200px;
}

button {
  width: 200px;
}

#chatbox {
  text-align: left;
}

#chat {
  height:400px;
  width:600px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  align-self: center;
}

#posties {
    border: 3px solid black;
    text-align: left;
}

#lowerform {
  border: 1px solid black;
}

#statusImages {
  width: 50px;
  height: 50px;
}

#patientHistoryList {
  height:400px;
  width:600px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  align-self: center;
}
